{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Make a reservation</h1>

      <form action="" method="POST" class="needs-validation" novalidate>
        <div class="form-group mt-5">
          <label for="first_name">First name:</label>
          <input type="text" id="first_name" name="first_name" class="form-control" autocomplete="off" required>
        </div>

        <div class="form-group">
          <label for="last_name">Last name:</label>
          <input type="text" id="last_name" name="last_name" class="form-control" autocomplete="off" required>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" autocomplete="off" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="phone" id="phone" name="phone" autocomplete="off" class="form-control" required>
        </div>

        <input type="submit" class="btn btn-primary" value="Make Reservation"></input>
      </form>
    </div>
  </div>
</div>
{{end}}